[Desktop Entry]
Type=Application
Name=cognac
Exec=cognac
Comment=CLI-of Outscale Granting Net Accessible Calls
Categories=Development;Network;
Terminal=true
Icon=appimage-logo